<h1>Manage <%= @conference.name %></h1>

<table style="width: 100%">
  <tr>
    <td>
      <div class="well" style="overflow: hidden">
      	<%= form_for @conference, validate: true, html: {class: 'form-inline'} do |f| %>
          <% disabled = @conference.step > 1%>
      		<p>Presenters can invite up to <%= f.text_field :invite_limit, size: 2, style: 'text-align: right', disabled: disabled %> attendees.</p>
      	  <p>Attendees can be invited to up to <%= f.text_field :poster_limit, size: 2, style: 'text-align: right', disabled: disabled %> posters.</p>
      	  <%= f.submit 'Update Limits', class: 'btn btn-primary', style: 'float: right', disabled: disabled %>
      	<% end %>
      </div>
    </td>
    <td>
      <div style="width: 16px">
    </td>
    <td>
      <div class="panel panel-default" style="width: 100%">
        <div class="panel-heading">To Do</div>
        <div class="panel-body">
          <ol>
            <% ['Upload data', 'Email presenters', 'Email invitations'].each_with_index do |t, i| %>
                <% if i > @conference.step %>
                  <div style="opacity: 0.5"><li><%= t %></li></div>
                <% elsif i < @conference.step %>
                  <s><li><%= t %></li></s>
                <% elsif i == @conference.step %>
                  <li><%= t %></li>
                <% end %>
            <% end %>
          </ol>
        </div>
      </div>
    </td>
  </tr>
</table>

<div class="well">
  <legend>Conference Time Zone</legend>
  <%= form_for @conference, validate: true, html: {class: 'form'} do |f| %>
    <% disabled = @conference.step > 2 %>
    <%= f.select :time_zone, ActiveSupport::TimeZone::MAPPING.keys, {}, { style: 'text-align: right', disabled: disabled } %>
    <%= f.submit 'Update Time Zone', class: 'btn btn-primary', disabled: disabled, style: 'float: right'%>
  <% end %>
</div>

<div class="well">
	<table style="table-layout: fixed; width: 100%">
		<tr>
			<td style="width: 50%">
				<%= form_for @conference, validate: true, html: {class: 'form'} do |f| %>
					<fieldset>
					  <%= f.label :logo_url, 'URL to conference logo:' , class: 'control-label' %>
					  <%= f.text_field :logo_url, class:'form-control'%><br/>
					</fieldset>
			    <%= f.submit 'Update Logo', class: 'btn btn-primary', style: 'float: right'%>
				<% end %>
			</td>
			<td style="text-align: center; width: 50%">
				<% if @conference.logo_url.blank? %>
					no logo set
				<% else %>
					<%= image_tag @conference.logo_url, style: 'object-fit: contain; width: 300px; height: 128px; float: center' %>
        <% end %>
			</td>
		</tr>
	</table>
</div>

<div class="well">
  <legend>1. Upload Data</legend>
  <table style="width: 100%">
    <tr>
      <% begin %>
        <% disabled = @conference.step > 1 %>
        <td>
          <% if @conference.attendees.count > 0 %>
            <%= link_to 'View Attendee Data', '#', data: { toggle: 'modal', target: '#attendeeDataModal' } %>
          <% else %>
            (No attendee data uploaded.)
          <% end %>
          <br/><br/>
        	<%= form_for @conference, url: { action: 'upload' } do |f| %>
            <%= f.hidden_field :table, value: 'attendees' %>
            <%= f.file_field :csv, disabled: disabled %><br/>
            <% if @conference.attendees.count > 0 %>
        	    <%= f.submit 'Upload Attendee Data', class: 'btn btn-primary', title: 'Current data will be overriden.', data: { toggle: 'tooltip', placement: 'right' }, disabled: disabled %>
            <% else %>
        	    <%= f.submit 'Upload Attendee Data', class: 'btn btn-primary', disabled: disabled %>
            <% end %>
        	<% end %>
          <br/>
          <%= link_to 'Required Data Format', '#', data: { toggle: 'modal', target: '#attendeeDataFormatModal' } %>
        </td>
        <td>
          <% if @conference.presenters.count > 0 %>
            <%= link_to 'View Presenter Data', '#', data: { toggle: 'modal', target: '#presenterDataModal' } %>
          <% else %>
            (No presenter data uploaded.)
          <% end %>
          <br/><br/>
        	<%= form_for @conference, url: { action: 'upload' } do |f| %>
            <%= f.hidden_field :table, value: 'presenters' %>
            <%= f.file_field :csv, disabled: disabled %><br/>
            <% if @conference.presenters.count > 0 %>
        	    <%= f.submit 'Upload Presenter Data', class: 'btn btn-primary', title: 'Current data will be overriden.', data: { toggle: 'tooltip', placement: 'right' }, disabled: disabled %>
            <% else %>
        	    <%= f.submit 'Upload Presenter Data', class: 'btn btn-primary', disabled: disabled %>
            <% end %>
        	<% end %>
          <br/>
          <%= link_to 'Required Data Format', '#', data: { toggle: 'modal', target: '#presenterDataFormatModal' } %>
        </td>
    	<% end %>
    </tr>
  </table>
</div>

<div class="well" style="overflow: hidden">
  <table style="width: 100%">
    <tr>
      <td>
    		<p>If an address is provided, it is cc'ed on all emails.</p>
      </td>
      <td style="text-align: right">
      	<%= form_for @conference, validate: true, html: {class: 'form'} do |f| %>
          <%= f.email_field :email, placeholder: ' email cc disabled' %> &nbsp;
      	  <%= f.submit 'Update Email', class: 'btn btn-primary', style: 'float: right' %>
      	<% end %>
      </td>
    </tr>
  </table>
</div>

<table style="width: 100%">
  <tr>
    <td style="width: 50%">
      <div class="well">
        <legend>2. Email Presenters</legend>
      	<%= form_for @conference, url: { action: 'email_presenters' }, method: :post, html: { class: 'form' } do |f| %>
          <% disabled = @conference.step != 1 %>
          <fieldset>
  					<div class="form-group">
              <%= label :email, :subject, 'Subject:', class: 'control-label' %>
              <%= text_field :email, :subject, value: "Invite attendees to your poster at #{@conference.name}", class: 'form-control', disabled: disabled %>
            </div>

            <%= label :email, :message, 'Message:', class: 'control-label' %>
  					<div class="form-group panel panel-default">
              <div class="panel-body">
                <p>Dear [<i>presenter name</i>],</p>

                <p><%= text_area :email, :message, value: "As a poster-presenter at #{@conference.name}, you have the opportunity to personally invite up to #{pluralize(@conference.invite_limit, 'conference attendee')} to visit your poster. Each attendee can receive a maximum of #{pluralize(@conference.poster_limit, 'invitation')} on a first come, first served basis, so don't be late to make your selections!", rows: 7, class: 'form-control', disabled: disabled %></p>

                <p>
                  You may select attendees to invite at the following link.<br/>
                  <a>[<i>link</i>]</a>
                </p>

                <p>
                  Please submit your selections by <br/>
                  <%= date_select :email, :deadline, { selected: Date.today + 3.days, order: [:month, :day, :year], start_year: Date.today.year, disabled: disabled }, { class: 'form-control', style: 'display: inline-block; width: auto; vertical-align: middle' } %>.
                </p>

                <p>
                  Cheers,<br/>
                  postvites, the poster invitation system<br/>
                  <%= link_to root_url, root_path %>
                </p>
              </div>
            </div>
        	  <%= f.submit 'Send', class: 'btn btn-primary', style: 'float: right', title: 'This may take a few moments.', data: { toggle: 'tooltip', placement: 'left' }, disabled: disabled %>
          </fieldset>
      	<% end %>
        <div id="email-presenters-progress-bar" style="display: none">
          <br/>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"/>
          </div>
        </div>
      </div>
    </td>
    <td>
      <div style="width: 16px">
    </td>
    <td style="width: 50%">
      <div class="well" style="height: 100%; position: relative">
        <legend>3. Email Invitations</legend>
      	<%= form_for @conference, url: { action: 'email_attendees'}, method: :post, html: { class: 'form' } do |f| %>
          <% disabled = @conference.step != 2 %>
          <fieldset>
  					<div class="form-group">
              <%= label :email, :subject, 'Subject:', class: 'control-label' %>
              <%= text_field :email, :subject, value: "You are invited to a poster at #{@conference.name}", class: 'form-control', disabled: disabled %>
            </div>

            <%= label :email, :message, 'Message:', class: 'control-label' %>
  					<div class="form-group panel panel-default">
              <div class="panel-body">
                <p>Dear [<i>attendee name</i>],</p>

                <p><%= text_area :email, :message, value: "We recently gave all poster-presenters at #{@conference.name} the opportunity to personally invite up to #{pluralize(@conference.invite_limit, 'conference attendee')} to visit their poster. We are pleased to inform you that you have received an invitation!", rows: 10, class: 'form-control', disabled: disabled %></p>

                <p>Please find details of the poster(s) that you are invited to view below.</p>

                <p>[<i>poster details</i>]</p>

                <p>
                  Cheers,<br/>
                  postvites, the poster invitation system<br/>
                  <%= link_to root_url, root_path %>
                </p>
              </div>
            </div>
        	  <label title="Attendees will automatically be sent reminder emails the morning the poster is displayed." data-toggle="tooltip" data-placement="bottom"><%= check_box :email, :remind, checked: true, class: 'checkbox-inline', style: 'float: left', disabled: disabled %>&nbsp;Schedule reminder emails.</label>
        	  <%= f.submit 'Send', class: 'btn btn-primary', style: 'float: right', title: 'This may take a few moments.', data: { toggle: 'tooltip', placement: 'left' }, disabled: disabled %>
          </fieldset>
      	<% end %>
      </div>
    </td>
  </tr>
</table>

<div class="modal fade" id="attendeeDataFormatModal" tabindex="-1" role="dialog" aria-labelledby="attendeeDataFormatModalLabel">
  <div class="modal-dialog" style="width: 400px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="attendeeDataFormatModalLabel">Attendee Data Format</h4>
      </div>
      <div class="modal-body">
        A CSV file with the following columns.<br/><br/>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">Required</span>
            Last Name
          </li>
          <li class="list-group-item">
            <span class="badge">Required</span>
            First Name
          </li>
          <li class="list-group-item">
            <span class="badge">Required</span>
            Email
          </li>
          <li class="list-group-item">
            <span class="badge btn-info">Optional</span>
            Affiliation
          </li>
          <li class="list-group-item">
            <span class="badge btn-info">Optional</span>
            Keywords (semicolon-separated)
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="presenterDataFormatModal" tabindex="-1" role="dialog" aria-labelledby="presenterDataFormatModalLabel">
  <div class="modal-dialog" style="width: 400px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="presenterDataFormatModalLabel">Presenter Data Format</h4>
      </div>
      <div class="modal-body">
        A CSV file with the following columns.<br/><br/>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">Required</span>
            Last Name
          </li>
          <li class="list-group-item">
            <span class="badge">Required</span>
            First Name
          </li>
          <li class="list-group-item">
            <span class="badge">Required</span>
            Email
          </li>
          <li class="list-group-item">
            <span class="badge btn-info">Optional</span>
            Affiliation
          </li>
          <li class="list-group-item">
            <span class="badge">Required</span>
            Poster Title
          </li>
          <li class="list-group-item">
            <span class="badge btn-info">Optional</span>
            Number
          </li>
          <li class="list-group-item">
            <span class="badge btn-info">Optional</span>
            Session
          </li>
          <li class="list-group-item">
            <span class="badge btn-info">Optional</span>
            Location
          </li>
          <li class="list-group-item">
            <span class="badge">Required</span>
            Session Day
          </li>
          <li class="list-group-item">
            <span class="badge btn-info">Optional</span>
            Session Start
          </li>
          <li class="list-group-item">
            <span class="badge btn-info">Optional</span>
            Session End
          </li>
          <li class="list-group-item">
            <span class="badge btn-info">Optional</span>
            Abstract
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="attendeeDataModal" tabindex="-1" role="dialog" aria-labelledby="attendeeDataModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="attendeeDataModalLabel">Attendee Data</h4>
      </div>
      <div class="modal-body" style="font-size: 10pt; table-layout: fixed">
    	  <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Last</th>
              <th>First</th>
              <th>Email</th>
            </tr>
          </thead>
    	    <% @conference.attendees.sort_by { |a| a.last }.each do |attendee| %>
    	      <tr>
    	        <td><%= attendee.last %></td>
    	        <td><%= attendee.first %></td>
    	        <td style="word-wrap: break-word"><%= attendee.email %></td>
    	      </tr>
    	    <% end %>
    	  </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="presenterDataModal" tabindex="-1" role="dialog" aria-labelledby="presenterDataModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="presenterDataModalLabel">Presenter Data</h4>
      </div>
      <div class="modal-body">
    	  <table class="table table-striped table-hover" style="font-size: 10pt; table-layout: fixed">
          <thead>
            <tr>
              <th>Last, First</th>
              <th>Email</th>
              <th>Title</th>
              <th>Responded?</th>
            </tr>
          </thead>
    	    <% @conference.presenters.sort_by { |p| p.last }.each do |presenter| %>
    	      <tr>
    	        <td><%= presenter.last %>, <%= presenter.first %></td>
    	        <td style="word-wrap: break-word"><%= presenter.email %></td>
    	        <td><%= presenter.title %></td>
    	        <td><%= link_to presenter.responded? ? 'Yes' : 'No', presenter %></td>
    	      </tr>
    	    <% end %>
    	  </table>
      </div>
    </div>
  </div>
</div>
