<div class="jumbotron" style="background: url(<%= image_url 'poster-session.jpg' %>) no-repeat center center; background-size: cover">
	<div class="container text-center" style="color: rgb(68, 68, 68); background: rgba(255, 255, 255, 0.9); width: 80%; margin-top: 0; border-radius: 8px">
		<h1>postvite</h1>
		<p>A poster invitation system for conferences</p>
		<div class="social text-center">
			<ul class="list-inline">
				<li><%= link_to image_tag('signin-google.png'), '/auth/google' %></li>
			</ul>
		</div>
  </div>
</div>

<h1>Concept</h1>

<p>A poster invitation system enhances a conference's poster session by giving presenters the opportunity to personally invite attendees to visit their poster. This can dramatically increase the value to both presenters and attendees by enabling direct, relevant interactions that are otherwise difficult to initiate at large conferences. <strong>postvite</strong> streamlines the process by providing an online interface for presenters to invite attendees and automatically emailing the selected attendees.

<h1>Usage</h1>

<ol>
	<li>Sign in with Google</li>
	<li>Create a new conference</li>
	<li>Upload attendee and presenter data</li>
	<li>Let presenters select attendees to invite</li>
	<li>Return later to send invitations</li>
	<li>Done!</li>
</ol>

<a name="about"><h1>About</h1></a>

<p><strong>postvite</strong> is developed and maintained by <%= link_to 'Arman Bilge', 'http://armanbilge.com' %>. Photo credit to <%= link_to 'Robert Gardner', 'http://www2.warwick.ac.uk/fac/sci/sbdtc/people/students/2007/robert_gardner/' %>.</p>

<p><%= link_to 'Please report any issues', '//github.com/armanbilge/postvite/issues/new' %> and feel free to <%= link_to 'fork the source code', '//github.com/armanbilge/postvite' %>. Thank you!</p>

<p>This website is supported by the <%= link_to 'Society for the Study of Evolution', 'http://www.evolutionsociety.org' %>.</p>

<%= image_tag 'sse.png', style: 'margin:0px auto; display:block' %>
