<div class="jumbotron" style="background: url(<%= image_url 'poster-session.jpg' %>) no-repeat center center; background-size: cover">
	<div class="container text-center" style="color: rgb(68, 68, 68); background: rgba(255, 255, 255, 0.9); width: 80%; margin-top: 0; border-radius: 8px">
		<h1>postvites</h1>
		<p>A poster invitation system for conferences</p>
		<div class="social text-center">
			<ul class="list-inline">
				<li><%= link_to image_tag('signin-google.png'), '/auth/google' %></li>
			</ul>
		</div>
  </div>
</div>

<h1>Concept</h1>

<p>A poster invitation system enhances a conference's poster session by giving presenters the opportunity to personally invite attendees to visit their poster. This can dramatically increase the value to both presenters and attendees by enabling direct, relevant interactions that are otherwise difficult to initiate at large conferences. <strong>postvites</strong> streamlines the process by providing an online interface for presenters to invite attendees and automatically emailing the selected attendees.

<h1>Usage</h1>

<ol>
	<li>Sign in with Google</li>
	<li>Create a new conference</li>
	<li>Upload attendee and presenter data</li>
	<li>Presenters requested by email to invite attendees</li>
	<li>Return later to send invitations</li>
	<li>Done!</li>
</ol>

<h1><a class="anchor" name="about"></a>About</h1>

<p><strong>postvites</strong> is developed and maintained by <%= link_to 'Arman Bilge', 'http://armanbilge.com' %>. Thanks to <%= link_to 'Sarah Murata', 'https://twitter.com/sarahinkiwi' %> for contributions. Photo credit to <%= link_to 'Robert Gardner', 'http://www2.warwick.ac.uk/fac/sci/sbdtc/people/students/2007/robert_gardner/' %>.</p>

<p><%= link_to 'Please report any issues', '//github.com/armanbilge/postvites/issues/new' %> and feel free to <%= link_to 'fork the source code', '//github.com/armanbilge/postvites' %>. Thank you!</p>
