<% content_for :for_head do %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js' %>
<% end %>

<%= image_tag @presenter.conference.logo_url, style: 'object-fit: contain; width: 300px; height: 128px; float: right' %>
<br/>
<h1>Invite Attendees</h1>
<br/>
<br/>
<% if @presenter.conference.step == 2 %>

  <p>You may invite up to <%= pluralize(@presenter.conference.invite_limit, 'conference attendee') %> to your poster, "<%= @presenter.title %>".</p>

	<p>You can change your selections until <%= @presenter.conference.deadline.to_formatted_s(:long) %>. Thank you!</p>

  <%= form_for @presenter, html: { class: 'form' } do |f| %>
    <table style="width: 100%">
      <tr>
        <td style="width: 46%">
          <div class="form-group">
            <%= label nil, nil, 'Available Attendees', class: 'control-label' %>
            <%= collection_select nil, nil, @presenter.conference.available_attendees, :id, :vital, {}, { id: 'multiselect', class: 'form-control', multiple: true, size: 20, style: 'padding-right: 0' } %>
          </div>
        </td>
        <td>
          <div style="text-align: center">
            <button type="button" id="multiselect_rightSelected" class="btn btn-default">&nbsp;<span class="glyphicon glyphicon glyphicon-forward" aria-hidden="true"></span></button> <br/><br/>
            <button type="button" id="multiselect_leftSelected" class="btn btn-default"><span class="glyphicon glyphicon glyphicon-backward" aria-hidden="true"></span>&nbsp;</button>
          	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
					</div>
        </td>
        <td style="width: 46%">
          <fieldset>
            <div class="form-group">
              <%= f.label :attendee_ids, 'I am inviting...', class: 'control-label' %>
              <%= f.collection_select :attendee_ids, @presenter.attendees, :id, :vital, { selected: nil, include_hidden: true }, { id: 'multiselect_to', class: 'form-control', multiple: true, size: 5, style: 'padding-right: 0' } %>
            </div>
          </fieldset>
          <div class="well" style="height: 275px; overflow-y: scroll;<% unless @presenter.conference.keywords.length > 0 %> visibility: hidden;<% end %>">
            <legend>Filter attendees by interests</legend>
            <% @presenter.conference.keywords.sort_by { |k| k.name }.each do |k| %>
              <input type="checkbox" id="keyword[<%= k.id %>]"/> <%= k.name %><br/>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
	  <%= f.submit 'Save', class: 'btn btn-primary', style: 'float: right' %>
  <% end %>

<% else %>

  <% if @presenter.conference.deadline.future? %>
    <p>Sorry, the invitation system has not opened yet. Check back soon!</p>
  <% else %>
    <p>Sorry, the deadline to send invitations was <%= time_ago_in_words(@presenter.conference.deadline) %> ago!</p>
  <% end %>

<% end %>

<%= javascript_tag do %>
  window.invite_limit = <%= @presenter.conference.invite_limit %>;
	window.attendees = <%= @presenter.conference.attendees.map { |a| a.id } %>;
  <% @presenter.conference.keywords.each do |k| %>
    $('#keyword\\[<%= k.id %>\\]').data('attendees', <%= k.attendees.map { |a| a.id } %>);
  <% end %>
<% end %>
